format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$jobs\
$time\
$status\
$container\
$terraform\
$os\
$character"""

# right_format = """$time"""

add_newline = false

[directory]
truncate_to_repo = false
truncation_length = 6
truncation_symbol = "…/"

[git_branch]
symbol = "⎇  "

[time]
disabled = false
format = '[$time]($style) '
