* {
  border: none;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 15px;
  min-height: 5px;
}

window#waybar {
  background: rgba(10, 10, 30, 0.85);
}

window#waybar.hidden {
  opacity: 0.1;
}

#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#battery,
#idle_inhibitor,
#pulseaudio,
#network {
  color: #ffffff;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-archicon {
  color: cornflowerblue;
}

#clock,
#battery,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-archicon {
  font-size: 20px;
  background: #262626; /* visible grey */
  padding-right: 17px;
}

#clock {
  background: #2a2a2a;
}

#cpu {
  background: #2b2b2b;
}

#memory {
  background: #2c2c2c;
}

#disk {
  background: #2d2d2d;
}

#battery {
  background: #262626;
}

#workspaces {
  background: #1f1f1f;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #ffffff;
  background: transparent;
  padding: 4px 4px;
  margin: 0px 6px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #bbbbbb;
}

#workspaces button.active {
  color: #ffffff;
  text-shadow: 0 0 6px #ff0000;
}

#workspaces button:hover {
  color: #ff0000;
}

#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
  color: #ffffff;
}

#taskbar button.active {
  background: rgba(255, 0, 0, 0.2);
  color: #ff0000;
}

#taskbar button:hover {
  background: rgba(255, 0, 0, 0.3);
  color: #ff0000;
}

#idle_inhibitor {
  background: #282828;
  padding-right: 15px;
  color: #ffffff;
}

#pulseaudio {
  background: #292929;
  color: #ffffff;
}

#network {
  background: #242424;
  padding-right: 13px;
  color: #ffffff;
}

@keyframes blink {
to {
  background-color: #ff0000;
  color: #ffffff;
}
}
